# -------- PlatformIO / ESP32 --------
.pio/
.piolibdeps/               # por si existe en proyectos antiguos
.sconsign.dblite
*.bin
*.elf
*.map
*.o
*.d
*.tmp
.cache/

# -------- VS Code / IDEs ----------
.vscode/*
!.vscode/extensions.json    # deja estos si quieres compartir ajustes
!.vscode/settings.json
.idea/
*.code-workspace
.history/

# -------- CMake / builds ----------
build/
build-*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# -------- Python / entornos --------
__pycache__/
*.pyc
.venv/
venv/
.env

# -------- SO (Windows/macOS) ------
Thumbs.db
desktop.ini
.DS_Store

